/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 31 mars 2014, 14:36:41
    Author     : max
*/

body,td,th {font-family: Verdana, Geneva, sans-serif; font-size: 14px; color: #27231e;}
body {background: url(../images/fond.png) no-repeat center top #fff; margin:0px;}
body.Granits {background: url(../images/fond2.png) repeat-x #fff;}
img { border: solid 4px #dbddd4;}
a { text-decoration:none;}
#Global {width:1020px; margin:0 auto;}
#Logo { background:url(../images/Logo.png) no-repeat; height:83px;width:420px; margin-top:50px;margin-left:280px; }
#Logo a { display:block;height:83px;width:250px; z-index:999;}
h2 { color:#003b81; font-size:18px; font-weight:normal;}

#Contenu {width:970px;height:600px; float:left; margin-left:10px;margin-top:20px; background:#fff; border:1px solid #c8c8c8;}
#ImgAccueil {width:750px;height:400px; background:url(../images/ImgAccueil.png);}
#Plus {height:68px;width:46px; margin-top:-73px; float:right; margin-right:8px;}
#Plus a {height:68px;width:46px; display:block;background:url(../images/Plus.png);}
#Plus a:hover {background:url(../images/Plus_hover.png)}

#Barre {clear:both;background:#777570; text-align:justify;padding-bottom:15px;}
#BarreInterne {background:#777570; min-height: 200px; margin-top:445px;}
#TexteAccueil {width:750px; color:#fff; margin:0 auto; padding: 1px 0px 10px 230px;}
h2 {color:#a5c800; font-size:18px; font-style:normal; font-weight:normal; background:url(../images/pointille.png) no-repeat center left; padding-left:30px;}
p {padding-left:30px; text-align:justify}
#Footer {clear:both; height:50px; width:1000px; margin:20px auto;}
#Signature {  height:40px; width:40px; float:left; margin-left:220px; margin-top:-15px;}
#MenuFooter { float:right; margin-left: 400px;color:#66685f;}
#MenuFooter a {color:#66685f;}
#MenuFooter a:hover {color:#a5c800;}


/*-- Affichage de la carte du métro et gestion du questionnaire--*/
#plan {width: 595;height: 600px;background: url(../images/plan-metro.jpg) no-repeat;float: left;position: relative}
#questionnaire{width: 350px;height: 100%;padding: 10px 10px 10px 10px;float: right;position:static;border-left:1px solid #c8c8c8; }
#stationPick{font-size: 40px;position: relative;}

.imageDiapo{width: 123px;height: 398px;border:solid 1px #FFF;}
.imageDiapoContainer{float: left;}
.clearfix{clear:both;content:".";display: block;height: 1px;visibility: hidden;}